
	.flex-container{
	display:flex;
	background:orange;
	justify-content:center;
	}
	.flex-container>div{
	background:#F5B04;
	margin:15px;
	padding:30px;
	font-size:10px;
	
	}
	
	

body{
	background-color:#A93226;
	}
h1{
 color:blue;

}
.underline{
text-decoration:underline;
}


#first{
text-shadow:4px 4px 4px;
}

h2{
color:yellow;
}
#second{
text-shadow:4px 4px 4px;
}
#third{
text-shadow:4px 4px 4px;
}
#fourth{
text-shadow:4px 4px 4px;

}
h3{
color:lime;
}


span.bold{
font-size:25px;
font-weight:17px;
}

@media  only screen and (max-width:600px) {
	  body {
	    background-color:#cream;
	   
	    }
}